
.header {
    height: 60px;
}

.header-buttons {
    float: right;
}

.message {
    clear: both;
}

.message .sender {
    float: left;
    width: 22em;
    text-align: right;
    margin-right: 1em;
}

.message .body {
    margin-left: 22em;
}

.message_table_wrapper {
    margin-bottom: 100px;
    float: left;
}

.member_list {
    float: right;
    top: 0;
    right: 0;
    bottom: 100px;
    position: fixed;
    width: 15em;
    overflow: scroll;
    background: #e0e0e0;
}

.text_entry_section {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    right: 10em;
    width: 100%;
    background: #e0e0e0;
}
