
.message {
    clear: both;
}

.message .sender {
    float: left;
    width: 22em;
    text-align: right;
    margin-right: 1em;
}

.message .body {
    margin-left: 22em;
}

.message_table_wrapper {
    margin-bottom: 100px;
}

.text_entry_section {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    height: 100px;
    background: #fff;
}
