<div ng-controller="RoomsController" class="rooms">

    <div>
        <form>
            <input size="40" ng-model="newDisplayName.name" ng-enter="setDisplayName(newDisplayName.name)" />
            <button ng-disabled="!newDisplayName.name" ng-click="setDisplayName(newDisplayName.name)">Update Name</button>    
        </form>
    </div>
    <br/>
    
    <h3>My rooms</h3>
    
    <div class="rooms" ng-repeat="room in rooms">
        <div>
            <a href="#/room/{{ room.room_id }}" >{{ room.room_id }}</a>
        </div>
    </div>
    <br/>

    <h3>Public rooms</h3>
    
    <div class="public_rooms" ng-repeat="room in public_rooms">
        <div>
            <a href="#/room/{{ room.room_id }}" >{{ room.room_id }}</a>
        </div>
    </div>
    <br/>
    
    <div>
        <form>
            <input size="40" ng-model="newRoom.room_id" ng-enter="createNewRoom(newRoom.room_id, newRoom.private)" />
            <input type="checkbox" ng-model="newRoom.private">private
            <button ng-disabled="!newRoom.room_id" ng-click="createNewRoom(newRoom.room_id, newRoom.private)">Create room</button>    
        </form>
    </div>
    <div>
        <form>
            <input size="40" ng-model="goToRoom.room_id" ng-enter="goToRoom(goToRoom.room_id)" />
            <button ng-disabled="!goToRoom.room_id" ng-click="goToRoom(goToRoom.room_id)">Go to room</button>    
        </form>
    </div>
    <br/>
    
    {{ feedback }}
    
</div>
