<div ng-controller="LoginController" class="login">
    <h3>Login:</h3>
    <form novalidate>
        <input id="user_id" size="70" type="text" auto-focus ng-model="account.user_id" placeholder="User ID (ex:@user:homeserver)"/>
        <br/>
        
        <input id="homeserver" size="70" type="text" ng-model="account.homeserver" placeholder="Home server URL (ex: http://localhost:8080)"/><br />
        
        <br/>
        <input id="accessToken" size="70" type="text" ng-model="account.access_token" placeholder="Enter an access token to log in with an already registered user"/><br />
        <br/>
        
        <button ng-click="login()" ng-hide="!account.access_token">Login</button>
        <button ng-click="register()" ng-hide="account.access_token">Register</button>
    </form>
    <br/>
    {{ feedback }}
</div>