<div ng-controller="RoomController" data-ng-init="onInit()" class="room">
    <h3>{{ room_id }}</h3>

    <div class="message" ng-repeat="msg in messages">
        <div class="timestamp">{{msg.content.hsob_ts | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        <div class="sender">&lt;{{msg.user_id}}&gt;</div>
        <div class="body">{{msg.content.body}}</div>
    </div>

    <div>
        {{ state.user_id }} <input id="textInput" size="132" ng-model="textInput" ng-enter="send()" />
        <button ng-click="send()">Send</button>

        <div class="feeback">{{ feedback }}</div>  
    </div>

    <div>
        <div>
            <button ng-click="leaveRoom()">Leave</button>
        </div>
        <div>
           Invite a user: 
                <input ng-model="userIDToInvite" size="70" type="text" placeholder="User ID (ex:@user:homeserver)"/>     
                <button ng-click="inviteUser(userIDToInvite)">Invite</button>
        </div>
    </div>
 </div>
