<div ng-controller="RoomController" data-ng-init="onInit()" class="room">
    <h3>{{ room_id }}</h3>

    <div class="message_table_wrapper">
        <table>
            <tr class="message" ng-repeat="msg in messages">
                <td class="timestamp">[{{msg.content.hsob_ts | date:'yyyy-MM-dd HH:mm:ss'}}]</td>
                <td class="sender">&lt;{{msg.user_id}}&gt;</td>
                <td class="body">{{msg.content.body}}</td>
            </tr>
        </table>
    </div>

    <div class="text_entry_section">
        {{ state.user_id }} <input id="textInput" size="132" ng-model="textInput" ng-enter="send()" />
        <button ng-click="send()">Send</button>

        <div class="feeback">{{ feedback }}</div>  
        <div>
            <button ng-click="leaveRoom()">Leave</button>
        </div>
        <div>
           Invite a user: 
                <input ng-model="userIDToInvite" size="70" type="text" placeholder="User ID (ex:@user:homeserver)"/>     
                <button ng-click="inviteUser(userIDToInvite)">Invite</button>
        </div>
    </div>
 </div>
